.highlight .k {
    color: darkblue;
}

.highlight .kd {
    font-weight: 700;
    color: steelblue;
}

.highlight .kt {
    color: blue;
}

.highlight .nt {
    color: darkred;
}

.highlight .s, .highlight .s2 {
    color: seagreen;
}

.highlight .na {
    color: crimson;
}

.highlight .p {
    color: darkslateblue;
}

.highlight .mf, .highlight .mi {
    color: blue;
}

.highlight .hll {
    background-color: gainsboro;
}

.highlight-html .highlight .k {
    color: crimson;
}

.highlight-javascript .highlight .s {
    color: blue;
}

.highlight-typescript .highlight .k {
    font-weight: 700;
    color: teal;
}

.highlight-typescript .highlight .kr {
    color: #555555;
}

.highlight-bash .highlight .m {
    color: inherit;
}

.highlight-bash .highlight .nb {
    color: darkmagenta;
}