table.versions th.head {
    min-width: 75px;
    text-align: right;
}

table.versions th.head:first-child, table.first-center th.head:first-child {
    text-align: center;
}

table.versions td {
    text-align: right;
}

table.center-data th.head {
    text-align: center;
}

table.center-data th.head:first-child {
    text-align: left;
}

table.cloud-service th.head {
    padding: 8px;
}

table.cloud-service th.head:first-child {
    text-align: center;
    padding: 8px 16px;
}

table.cloud-service td {
    text-align: center;
}

table.cloud-service td:nth-child(n+2) {
    font-weight: 700;
}

table.miscellaneous-image th.head {
    text-align: center;
    padding: 8px;
}

table.miscellaneous-image td:nth-child(n+2) {
    font-weight: 700;
    text-align: center;
}

ul.compressed dl dt {
    margin-bottom: 0px;
}

ul.compressed dl dd {
    margin-bottom: 8px;
}

.rst-content .unmaintained p.caption {
    margin-bottom: 12px;
}

.unmaintained p.caption .caption-text {
    font-size: 80%;
}