.rst-content h1 {
    text-align: right;
    padding-bottom: 4px;
    border-bottom: 1px solid #e1e4e5;
}

.rst-content .code-block-caption {
    font-size: 90%;
    text-align: left;
    padding-top: 0;
}

.rst-content dl[class] > dt {
    border-top-color: slategray !important;
}

.rst-content code.xref {
    color: darkred;
    border: none;
}

.rst-content code.literal:not(.xref) {
    color: mediumblue;
    border-color: lightsteelblue;
}

.rst-content a.reference code.xref {
    color: #444444;
    border: 1px solid gainsboro;
}

.hlist ul.simple li, .hlist ul.simple p {
    line-height: 20px;
    font-size: 12px;
}

.versionadded  blockquote .hlist ul.simple {
    margin-bottom: 0px;
}

.rst-content section > section:nth-of-type(1) h2 {
    border-bottom: 1px dashed darkgray;
    padding-bottom: 8px;
}

.rst-content section > section:nth-of-type(n+2) h2, .rst-content section > :not(h1) + section h2 {
    border-top: 1px dashed darkgray;
    border-bottom: none !important;
    padding-top: 8px;
    padding-bottom: 0px !important;
}